body {
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.container {
  flex: 1;
}

.gameContainer {
  flex: 1;
  min-height: 40%;
  border-radius: 3em;
  background: rgba(0, 0, 0, 0.5);
}

#history {
  list-style: none;
  padding-left: 0px;
}

li {
  font-size: 25px;
  padding-left: 15px;
}
